@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    user-select: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.vgl-layout {
    --vgl-placeholder-bg: var(--color-primary) !important;
    --vgl-placeholder-opacity: 20% !important;
    --vgl-placeholder-z-index: 2 !important;

    --vgl-item-resizing-z-index: 3 !important;
    --vgl-item-resizing-opacity: 60% !important;
    --vgl-item-dragging-z-index: 3 !important;
    --vgl-item-dragging-opacity: 100% !important;

    --vgl-resizer-size: 10px !important;
    --vgl-resizer-border-color: #444 !important;
    --vgl-resizer-border-width: 2px !important;
}

/* .vgl-item--placeholder {
    z-index: var(--vgl-placeholder-z-index, 2);
    user-select: none;
    background-color: greenyellow;
    /* background-color: var(--vgl-placeholder-bg, red); 
    opacity: var(--vgl-placeholder-opacity, 20%);
    transition-duration: 100ms;
} */
